<script type="text/javascript">
var map;
var worldcenter = new google.maps.LatLng(30,-30);
var latitude;
var longitude;
var pos;

function initialize() {
  var mapOptions = {
    zoom: 3,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
map.setCenter(worldcenter)
  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
       pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      latitude = pos.lat();
      longitude = pos.lng();
      var f1 = document.getElementById("form1");
	  var f2 = document.getElementById("form2");
	 // form = document.getElementsByClassName("edit_user");

	f1.value = latitude;
	f2.value = longitude;

  var nf1 = f1.value;
  var nf2 = f2.value;

  

//alert(f2tmp);
//|| 
  if( (f1tmp == null && f2tmp == null) )
  {
    document.forms[0].submit();
  }

/*  else if(localStorage.getItem('loadedOnce') === 'true')
  {
       localStorage.removeItem('loadedOnce');
  }
  else
  {
    localStorage.setItem('loadedOnce', 'true');
    document.location.reload(true);
  }

  else if ( nf1 > f1tmp+7 || nf1 < f1tmp-7 ) 
  {
    document.forms[0].submit();
  }

  else if (nf2 > f2tmp+7 || nf2 < f2tmp-7 ) 
  {
    document.forms[0].submit();
  }*/
  

     /* var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });*/

     // map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

 /* var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);*/
  //map.setCenter(options.position);
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>

	<div class="container" id="map"> 
<% flash.each do|key, value| %>
<div class="alert alert-<%= key %>"> <%= value %> </div>
<%end%>
	</div>
<%= form_for(@user, :html =>{ :style => ""}, :id =>"form") do |f| %>
<%= f.text_field :latitude, :id => "form1" %><%= f.text_field :longitude, :id => "form2" %>
<%= f.submit "s", :id=>"form1" %>
<%end%>