<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
		<div class="container">
			<% if signed_in? %>
			<li class="dropdown" >
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">	<%= image_tag(current_user.avatar.url, :alt => "user" ,:class=>"thumbnail pull-left")%></a>

				<ul class="dropdown-menu" id="dropdown-menu1">
							<li><%= link_to "Change Profile", edit_user_path(current_user) %>
							<li><%= link_to "Browse Users", "#" %>
							
							
				</ul>
			</li>
			<% end %>
			<%= link_to "ALACon", current_user, id: "logo" %>
			<nav>
				<ul class="nav pull-right well">
					<li><%= link_to "Home",   current_user    %>  </li>
					<li><%= link_to "About",   "/about"   %>  </li>
				<% if signed_in? %>
					<li><%= link_to "My Profile",   "#"    %>  </li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						My Bio <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", "/bios/show"%>
							<li><%= link_to "Edit", edit_bio_path(current_user) %>
						</ul>
					 </li>
				
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Resume <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", "#"%>
							<li><%= link_to "Edit", "#" %>
						</ul>
					 </li>






					<li><%= link_to "My Projects",   "#"   %>  </li>
					<li><%= link_to "Sign out", '/signout', :method => "destroy" %></li>
				<% else %>
					<li><%= link_to "Sign in", signin_path  %>  </li>
				<% end %>

				</ul>

			</nav>


		</div>
		</div>
</header>