<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
		<div class="container">
			<% if signed_in? %>
				<%= link_to image_tag("rails.png", :alt => "user" ), edit_user_path(current_user), :class => "gravatar"%>
			<% end %>
			<%= link_to "ALACon", current_user, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",   current_user    %>  </li>
					<li><%= link_to "About",   "/about"   %>  </li>
				<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", "#" %>
							<li><%= link_to "Settings", "#" %>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", '/signout', :method => "destroy" %>
							</li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to "Sign in", signin_path  %>  </li>
					<% end %>
				</ul>
			</nav>
		</div>
		</div>
</header>